<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <remove fileExtension=".json"/>
            <remove fileExtension=".md"/>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".md" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>