/* Styles go here */
div {
    &.footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 20px;
        background: #000000;
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
    }
}

body {
    background-color: #aaaaaa;
}

div {
    .abs-top-right{
        position:absolute;
        top:0;
        right:0;    
        left:auto;
    }
    .rel-top-right{
        position:relative;
        top:0;
        right:0;    
        left:auto;
        float:right;
    }
    .sta-top-right{
        position:static;
        top:0;
        right:0;    
        left:auto;
    }

}